{% extends "base.html" %}

{% block title %}Редактирование улицы {{ street.name }}{% endblock %}
{% block header %}Редактирование улицы {{ street.name }}{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style_adm.css') }}">
    <h2>Редактирование улицы</h2>

    <div class="pages-container">
        {% for page in street.pages %}
        <!-- Страница {{ loop.index }} -->
        <div class="page" id="page-{{ loop.index }}" {% if loop.index > 1 %}style="display: none;"{% endif %}>
            <div class="object-editor-content">
                <div class="scrollable-content">
                    <form method="post" action="/admin/edit" id="object-form-{{ loop.index }}" enctype="multipart/form-data">
                        <input type="hidden" name="street_id" value="{{ street.id }}">
                        <input type="hidden" name="page_index" value="{{ loop.index }}">

                        <label for="page-{{ loop.index }}-title">Заголовок:</label>
                        <input type="text" id="page-{{ loop.index }}-title" name="page-{{ loop.index }}-title" value="{{ page.title }}"><br><br>

                        <label for="page-{{ loop.index }}-content">Содержание:</label>
                        <textarea id="page-{{ loop.index }}-content" name="page-{{ loop.index }}-content" class="description-textarea">{{ page.content }}</textarea><br><br>

                        <label for="page-{{ loop.index }}-photo">Фото:</label>
                        <input type="file" id="page-{{ loop.index }}-photo" name="page-{{ loop.index }}-photo" accept="image/*"><br><br>
                        {% if page.photo %}
                            <img src="" alt="Фото" style="max-width: 200px;"><br><br>
                            <button type="submit" name="delete_photo" value="{{ loop.index }}">Удалить фото</button>
                        {% endif %}

                        {% if loop.index == 1 %}
                            <label for="name">Название:</label>
                            <input type="text" id="name" name="name" value="{{ street.name }}"><br><br>

                            <label for="city">Город:</label>
                            <input type="text" id="city" name="city" value="{{ street.city }}"><br><br>

                            <label for="class">Класс:</label>
                            <input type="text" id="class" name="class" value="{{ street.class }}"><br><br>

                            <label for="lat">Широта:</label>
                            <input type="text" id="lat" name="lat" value="{{ street.lat }}"><br><br>

                            <label for="lon">Долгота:</label>
                            <input type="text" id="lon" name="lon" value="{{ street.lon }}"><br><br>

                            <label for="nominatimQuery">Nominatim Query:</label>
                            <input type="text" id="nominatimQuery" name="nominatimQuery" value="{{ street.nominatimQuery }}"><br><br>

                            <label for="panorama">Панорама:</label>
                            <input type="text" id="panorama" name="panorama" value="{{ street.panorama }}"><br><br>

                            <label for="type">Тип:</label>
                            <input type="text" id="type" name="type" value="{{ street.type }}"><br><br>
                        {% endif %}
                         <button type="submit" class="save-button">
                            <i class="fas fa-save"></i> Сохранить страницу
                        </button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="pagination-container">
        <div class="pagination">
            <div class="page-numbers">
                {% for page in street.pages %}
                    <span class="page-number {% if loop.index == 1 %}active{% endif %}" data-page="{{ loop.index }}" href="#" role="button">{{ loop.index }}</span>
                {% endfor %}
            </div>
            <!-- Оборачиваем кнопку в форму -->
            <form method="post" action="{{ url_for('admin_add_page') }}">
                <input type="hidden" name="street_id" value="{{ street.id }}">
                <button id="add-page-button" class="add-page-button" type="submit">
                    <i class="fas fa-plus"></i>
                </button>
            </form>
        </div>
    </div>

    <div class="button-container">
        <form method="post" action="/admin/delete_street" onsubmit="return confirm('Вы уверены, что хотите удалить эту улицу?');">
            <input type="hidden" name="street_id" value="{{ street.id }}">
            <button type="submit" class="delete-button">Удалить улицу</button>
        </form>
    </div>
{% endblock %}
