<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPvknpzUlcTS4vGH6dxqPf64EQWJ6xvogP9GsXjddQt6LWwnZduyKkWxX6bUhkNjuwdjg=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
</head>
<body>
    <header>
        <h1>{% block header %}{% endblock %}</h1>
        <nav>
            <ul>
                <li><a href="/">Карта</a></li>
                <li><a href="/adm">Панель управления</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% if admin_page %}
            <aside class="object-list">
                <h2>Объекты</h2>
                <ul id="object-list">
                    {% for street in streets_data %}
                        <li><a href="{{ url_for('admin_edit_form', street_id=street.id) }}">{{ street.name }}</a></li>
                    {% endfor %}
                </ul>
                <form method="post" action="/admin/add">
                    <button type="submit" id="add-object-button">Добавить объект</button>
                </form>
            </aside>
        {% endif %}

        <section class="object-editor">
          {% block content %}{% endblock %}
        </section>
    </main>
</body>
</html>
