{% extends "base.html" %}

{% block title %}Карта Ишимбая{% endblock %}

{% block header %}Карта города Ишимбай{% endblock %}

{% block content %}
  <!-- Здесь будет контент карты -->
  <div id="map" style="height: 500px;"></div>
  <script>
    var map = L.map('map').setView([53.45, 56.05], 13);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    // Пример добавления маркера
    L.marker([53.45, 56.05]).addTo(map)
      .bindPopup('Ишимбай')
      .openPopup();
  </script>
{% endblock %}
